@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: $font-primary;
  // outline: 1px solid salmon;
}

/* 5. Typografi-klasser */
.text-body {
  font-size: $fs-body;
  line-height: 1.5rem;
}

.text-small {
  font-size: $fs-small;
}
.text-center {
  text-align: center;
}

.heading-1 {
  font-size: $fs-h1;
  font-weight: 700;
  line-height: 1.2;
}

.heading-2 {
  font-size: $fs-h2;
  font-weight: 600;
  line-height: 1.25;
}

.heading-3 {
  font-size: $fs-h3;
  font-weight: 600;
  line-height: 1.3;
}

.text-color-primary {
  color: $color-brand-primary;
}

.text-color-dark {
  color: $color-text-primary;
}

.text-color-muted {
  color: $color-text-muted;
}
.text-color-inverse {
  color: $color-text-inverse;
}

// scroll snap inspo: https://youtu.be/AKfkfoY6r24?si=lI5crTvCBCNTWRpP
.app {
  height: 100vh;
  height: 100dvh;
  background-color: $color-bg-base;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10rem;
}

/* ===== Flex & grid ===== */

.flex {
  display: flex;

  &__column {
    flex-direction: column;
  }
  &__align-center {
    align-items: center;
  }
  &__align-start {
    align-items: start;
  }
  &__justify-center {
    justify-content: center;
  }
  &__gap-0-25 {
    gap: 0.25rem;
  }
  &__gap-0-5 {
    gap: 0.5rem;
  }
  &__gap-1 {
    gap: 1rem;
  }
  &__gap-1-5 {
    gap: 1.5rem;
  }
  &__gap-2 {
    gap: 2rem;
  }
  &__gap-2-5 {
    gap: 2.5rem;
  }
  &__gap-3 {
    gap: 3rem;
  }
}

.grid {
  display: grid;

  &__center {
    place-items: center;
  }
}

.bg-color {
  &__primary {
    background-color: $color-brand-primary;
  }

  &__primary-muted {
    background-color: $color-brand-primary-muted;
  }

  &__primary-soft {
    background-color: $color-brand-primary-soft;
  }

  &__subtle {
    background-color: $color-bg-subtle;
  }
}
