@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 5. Typografi-klasser */
.text-body {
  font-size: $fs-body;
}

.text-small {
  font-size: $fs-small;
}

.heading-1 {
  font-size: $fs-h1;
  font-weight: 700;
  line-height: 1.2;
}

.heading-2 {
  font-size: $fs-h2;
  font-weight: 600;
  line-height: 1.25;
}

.heading-3 {
  font-size: $fs-h3;
  font-weight: 600;
  line-height: 1.3;
}
