.navigation {
  flex: 1;
  height: 100%;
  justify-content: end;
  align-items: center;
  position: relative;

  &__list {
    justify-self: end;
    height: 100%;

    list-style: none;
  }
}

.navigation__burger-btn {
  width: 80vw;
  text-align: start;
  margin: 0rem 1rem;
}
